<!-- expense_list.html -->


{% block content %}
  <h2>Your Expenses</h2>
  <form method="GET">
    {{ filter.form.as_p }}
    <button type="submit">Filter</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in filter.qs %}
        <tr>
          <td>{{ expense.name }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.category.name }}</td>
          <td>{{ expense.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
